@model IEnumerable<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>
@{
    ViewBag.Title = "Категории";
}

<div class="container" id="event-container" style="margin-top:-20px;">
    <h3>@ViewBag.Title</h3>
    <div class="modal fade" id="AddCategoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Добавяне на нова категория:</h4>
                </div>

                @using (Ajax.BeginForm("PostCategory",
                    new AjaxOptions
                    {
                        HttpMethod = "Post",
                        InsertionMode = InsertionMode.InsertBefore,
                        UpdateTargetId = "first-row",
                        OnFailure = "CategoryPostFailure"
                    }))
                {
                    <div class="modal-body">
                        <label for="categoryName">Име</label>
                        <input type="text" class="form-control" name="name" id="categoryName" value="" placeholder="Име на категорията" /><br />
                        <input type="hidden" name="Slug" value="SomeValueToPassModelValidation" />
                        <label for="DisplayOrder">Позиция</label>
                        <input type="text" class="form-control" name="DisplayOrder" id="DisplayOrder" value="0" placeholder="№" /><br />
                        <label for="categoryDescription">Описание</label>
                        @Html.AntiForgeryToken()
                        <textarea class="form-control" name="description" id="categoryDescription" placeholder="Описание на категорията"></textarea>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Откажи</button>
                        <input type="submit" class="btn btn-warning" id="category-submit-btn" value="Добави Категорията" />
                    </div>
                }
            </div>
        </div>
    </div>
    <a class="btn btn-warning" style="margin: 0 0 15px 0px;" data-toggle="modal" href="#AddCategoryModal">Добави нова категория</a>


    <div class="row" id="first-row">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var category = Model.ElementAt(i);
            category.LoopCounter = i;
            Html.RenderPartial("_CategoryPartial", category);
        }
    </div>
</div>



@section scripts {
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        $(document).ready(function () {
            $('#event-container').on('click', '.deleteBtnConfirm', function (e) {
                $theModalParent = $(this).parents('.modal');
                $theModalParent.modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })

            $('#event-container').on('click', 'input[type=submit]', function (e) {
                $theModalParent = $(this).parents('.modal');
                $theModalParent.modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            })

        })

        function subCategoryPostFailure() {
            alert("Въведи име на категорията");
        }
        function CategoryPostFailure() {
            alert("Невалидно име!");
        }
        function CategoryEditFailure() {
            alert("Грешка при редакция!");
        }
        function subCategoryEditFailure() {
            alert("Името неможе да е празно");
        }
    </script>
}

