body {
    background: rgb(47, 53, 59);
}

a:hover {
    color: white;
    text-decoration: underline;
}

.product-col {
    background: #50575F;
    color: #b2b2b2;
    border-color: #6e6d6d;
    box-shadow: 4px 4px 0px #191B1D;
}

.product-col .description {
    color: #b2b2b2;
}

.product-col img {
    border: 1px solid #6e6d6d;
}

.product-col .caption h4 a {color:#e7e7e7;}

.product-col .btn.btn-wishlist {
    background: #c7c7c7;
    color:black;
}

.side-heading {
    background-color: #50575F;
    border: 1px solid #6e6d6d;
    box-shadow: 4px 4px 0px #191B1D;
    margin-bottom: 15px;
}

.news-row {
    background: rgb(80, 87, 95);
    border: 1px solid #6e6d6d;
    box-shadow: 4px 4px 0px #191B1D;
    margin-bottom: 15px;
}

.news-row h6 a {
    color: #e7e7e7;
}

.news-row h6 small {
     color: #b2b2b2;
}

.news-row .news-short-description {
font-size: 12px;
line-height: 18px;
border-top: 1px solid #6e6d6d;
padding-top: 5px;
color: #b2b2b2;
}

.footer-links li a {
    color: #b2b2b2;
}

.footer-links li a:hover {
    color: #c7c7c7;
}

.footer-links {
background: #191B1D;
border-top: 1px solid #4F565C;
padding: 25px 0 40px;
box-shadow:         inset 0px 0px 5px #000000;
}

footer h5 {
color: #BDBDBD;
}

.footer-links .last h4.lead span {
color: #BDBDBD;
}

.copyright {
    border-top: 1px solid #4F565C;
}

header {
    border-bottom: 1px solid #4F565C;
}
#header-area{
    background: #191B1D;
}

.header-top {
    border-bottom: 1px solid #0D0F10;
    box-shadow: 0px 0px 5px black;
}

.index-banners {
    border: 5px solid #FFB400;
    box-shadow: 4px 4px 0px #191B1D;
}


a.list-group-item {
    background: #c7c7c7;
    color:#555;
    border: 1px solid #A1A1A1;
}

a.list-group-item:hover{
    background-color: rgb(184, 184, 184);
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
z-index: 2;
color: #fff;
background-color: #FFB400;
border-color: #50575F;
}

.list-group {
    box-shadow: 4px 4px 0px #191B1D;
}

.slider .container .carousel {
    box-shadow: 4px 4px 0px #191B1D;
    border: 5px solid #FFB400;
}

.breadcrumb {
    background: #c7c7c7;
    color:#555;
    border: 1px solid #A1A1A1;
    box-shadow: 4px 4px 0px #191B1D;
}

.dark-container {
    background: #50575F;
    color: #b2b2b2;
    border-color: #6e6d6d;
    box-shadow: 4px 4px 0px #191B1D;
    padding: 20px;
}

.dark-container.dark-categories {
    margin-bottom: 20px;
}

.dark-container.dark-product {
    width: 100%;
    margin-left:0px;
}

.dark-container.dark-product hr {
    border-color: #2F353B;
}

.dark-container.dark-product .product-details span {
color: #b2b2b2;
}

.dark-container.dark-product .images-block {
    padding: 0px;
}

.dark-container.dark-product .images-block img, .dark-container.dark-product .images-block .thumbnail {
    /*border: 1px solid #6e6d6d;*/
    border: 5px solid #2F353B;
    padding: 0px;
    box-shadow: 4px 4px 0px #191B1D;
}

.dark-container .heading {
padding: 13px 20px;
font-size: 18px;
color: #2f353b;
text-transform: uppercase;
background: #C7C7C7;
border-top: none;
border-right: none;
border-bottom: 4px solid #191B1D;
border-left: none;
}

.dark-container .panel-smart {
padding: 20px;
background: #C7C7C7;
border: none;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.heading.dark-heading {
padding: 13px 20px;
font-size: 18px;
color: #2f353b;
text-transform: uppercase;
background: #C7C7C7;
border-top: none;
border-right: none;
border-bottom: 4px solid #191B1D;
border-left: none;
margin-top: 0px;
}

.dark-container .panel-smart table {
    background: white;
}

.dark-container .panel-smart p {
    color: #2f353b;
}

.dark-container p {
    color: #b2b2b2;
}

.dark-container h3, h2 {
    color: #e7e7e7;
}

.light-container {
    background: #c7c7c7;
    color:#555;
    border: 1px solid #A1A1A1;
    box-shadow: 4px 4px 0px #191B1D;
}



::-moz-selection { /* Code for Firefox */
    color: black;
    background: #fff;
}

::selection {
    color: black;
    background: #fff;
}

.main-heading2 {
    margin-top: 0px;
}

.label {
    font-size: 85%;
    font-weight: normal;
}

.request-button {
    border-radius: 0;
    background-color: #ccc;
    color: #333;
    border: 1px solid #A1A1A1;
}