header, footer {display: none;}

.print-sidebar {display: none;}

.breadcrumb {display:none;}

.list-unstyled {display:none;}

.print-similarproducts {
    display:none;
}

.print-buttons {
    display:none;
}

.print-link {
    display:none;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}