body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */



/* Index styles */

.product-col .caption{
	padding: 0 0;
}

.product-col img {
    width: 100%;
}
.product-col .description {
    margin-top: -10px;
    text-align:left;
}

.edit-btn{
    font-size:18px;
    color:gray;
    margin-right: 5px;
}


/*Error validation styling*/
.field-validation-error {
    color: red;
    font-weight: bold;
    float: right;
    position: relative;
    top: 5px;
}

.cursor-pointer {
    cursor: pointer;
}