body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */



/* Index styles */

.product-col .caption{
	padding: 0 0;
}

.product-col img {
    width: 100%;
}
.product-col .description {
    margin-top: -10px;
    text-align:left;
}

.edit-btn{
    font-size:18px;
    color:gray;
    margin-right: 5px;
}


/*Error validation styling*/
.field-validation-error {
    color: red;
    font-weight: bold;
    float: right;
    position: relative;
    top: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.thumbnail-hover {
    background: rgba(0, 0, 0, 0.80);
    width: 77px;
    height: 25px;
    position: relative;
    z-index: 2;
    left: -83px;
    top: 1px;
    float: left;
    margin-right:-79px;
    margin-top:65px;
    text-align:center;
    font-size:12px;
}

.product-image-thumbnail-admin {
    float: left; 
    width: 77px;
    margin: 5px 6px -5px 0px;
    border: 1px solid black;
}

.popup-ajax {
    cursor:pointer;
}

.admin-hover-image {
    position:absolute;
    margin: -240px 0 0 -100px;
    border: 1px solid black;
    box-shadow: rgba(0,0,0,0.7) 3px 3px 3px;
    visibility:hidden;
}

.panel.panel-info {
    border: 1px solid #222222;
}

.panel.panel-info .panel-heading {
    background: #222222;color: #b7b7b7;border-bottom:none;

}

.panel.panel-info .article-body img { width:100%;height:100%;}

/* Autocomplete */

.search-autocomplete {
    width: 255px;
}
.search-autocomplete > li {
    list-style-type: none;
}

.search-autocomplete .ui-menu-item {
    position:relative;
    left:-250px;
    width: 472px;
}

.autocomplete-row {
    background: #2f353b;
    padding: 10px;
    border: 1px solid #525c66;
    width: 472px;
    margin-bottom:-1px;
    box-shadow: 5px 5px 0px #252a2f;
}
.autocomplete-row:first-child {
    position:relative;
    top:2px;
}

.autocomplete-row:hover {
    background: #525c66;
    border-top: 1px solid #252a2f;
    border-left: 1px solid #252a2f;
    border-bottom: 1px solid #252a2f;
}

.autocomplete-row:hover img 
{
    border: 1px solid #252a2f;
}

.autocomplete-row img {
    float: left;
    border: 1px solid #525c66;
}

.autocomplete-row-title {
    text-transform: uppercase;
    color: #ffb400;
    float: left;
    margin: 0 0 0 10px;
}

.autocomplete-row-title:hover
{
    color:white;
}

.autocomplete-row-description {
    float:left;
    margin: 0 0 0 10px;
    color: #c1c1c1;
    width: 350px;
    font-size: 12px;
    line-height: 14px;
}

/* Autocomplete END*/



/*Table CSS*/

table
{
	width: 480px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid gray;
    box-shadow: 2px 2px 0px gray;
}
table th
{
	padding: 8px;
	font-weight: bold;
	font-size: 14px;
	color: gray;
	border-bottom: 1px dashed gray;
    background: #e5e5e5;
    
}
table td
{
	padding: 5px 5px 5px 5px;
	color: gray;
}
table tbody tr:hover td
{
    color: #6a6a6a;
	background: #e5e5e5;
}

/*Table CSS END*/



/*News */

.news-row {
    border: 1px solid #e8e8e8;
    background: white;
    width:100%;
    margin: 5px 0 0 0px;
}

.news-row h6 a {color: black;}
.news-row h6 {width: 100%; text-transform: uppercase;}

.news-row .news-short-description {
    font-size: 12px;
    line-height: 18px;
    border-top: 1px solid #e8e8e8;
    padding-top: 5px;
}

.news-row .news-more {
    background: #ffb400;
    border-radius: 0px;
    color: black;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    padding: 5px 5px 2px 5px;
    margin-bottom: 15px;
}

.news-row .news-more:hover {
    background: #2f353b;
    color: #fff;
}
/*News End*/


.upload-img-remove-icon {
    float:right;
    cursor: pointer;
    position: relative;
    left: -20px;
    top: -10px;
}

.is-primary {
    background: #ffb400;
}

.is-primary a {
    color: black;
}


/* DropDown SubMenu*/
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* Dropdown SubMenu End*/

.onlyprint {
    display:none;
}