@model Application.Models.Pages.Page
@{
    ViewBag.Title = "Страница";
}
<div class="container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="/">Начало</a></li>
                    <li class="active">@Model.Title</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- About Content Starts -->
                <div class="page-box">
                    <div class="row">
                        <div class="col-sm-12">
                            @Html.Raw(Model.Content)
                        </div>
                    </div>
                </div>
                <!-- About Content Ends -->

            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Shopping Options Starts -->
                <h3 class="side-heading">Търси по:</h3>
                <div class="list-group">
                    <div class="list-group-item">
                        Производител
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input name="filter1" type="checkbox" value="br1" checked="checked" />
                                Производител 1
                            </label>
                            <label class="checkbox">
                                <input name="filter2" type="checkbox" value="br2" />
                                Производител 2
                            </label>
                            <label class="checkbox">
                                <input name="filter2" type="checkbox" value="br2" />
                                Производител 3
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item">
                        Марка
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr1" checked="checked" />
                                Марка 1
                            </label>
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr2" />
                                Марка 2
                            </label>
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr3" />
                                Марка 3
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-warning">Филтрирай</button>
                    </div>
                </div>
                <!-- Shopping Options Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Най-продавани</h3>
                <div class="product-col">
                    <div class="image">
                        <img src="~/Content/images/products/hook-1.jpg" alt="продукт" class="img-responsive" />
                    </div>
                    <div class="caption">
                        <h4>
                            <a href="product-full.html">Сапан с 2 куки Ф 20</a>
                        </h4>
                        <div class="description">
                            Описание на сапана и някаква допълнителна информация
                        </div>
                        <div class="price">
                            <span class="price-new">$199.50</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-cart">
                                Поръчай
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
