@model Application.Models.Articles.Article
@{
    ViewBag.Title = "Новина";
}
<div class="container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="/">Начало</a></li>
                    <li><a href="/Articles">Новини</a></li>
                    <li class="active">@Model.Title</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- About Content Starts -->
                <div class="page-box">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3>@Model.Title</h3>
                            <hr />
                            @Html.Raw(Model.Content)

                        </div>
                    </div>
                </div>
                <!-- About Content Ends -->

            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Най-продавани</h3>
                <div class="product-col">
                    <div class="image">
                        <img src="~/Content/images/products/hook-1.jpg" alt="продукт" class="img-responsive" />
                    </div>
                    <div class="caption">
                        <h4>
                            <a href="product-full.html">Сапан с 2 куки Ф 20</a>
                        </h4>
                        <div class="description">
                            Описание на сапана и някаква допълнителна информация
                        </div>
                        <div class="price">
                            <span class="price-new">$199.50</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-cart">
                                Поръчай
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
