@model IEnumerable<Application.Web.Areas.Administration.Models.ViewModels.ArticleViewModel> 
@{
    ViewBag.Title = "Новини";
}
<div class="container">
    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li><a href="/">Начало</a></li>
                <li class="active">Новини</li>
            </ol>
            <!-- Breadcrumb Ends -->
            <!-- About Content Starts -->
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="side-heading">Новини: </h3>
                        @Html.Partial("Home/_Articles", Model)
                    </div>
                </div>
            <!-- About Content Ends -->

        </div>
        <!-- Primary Content Ends -->
        <!-- Sidebar Starts -->
        <div class="col-md-3">
            <!-- Categories Links Starts -->
            @if (ViewBag.LayoutModel.Categories != null)
            {
                @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
            }
            <!-- Categories Links Ends -->
            <!-- Bestsellers Links Starts -->
            <h3 class="side-heading">Популярни Продукти</h3>
            @Html.Partial("_PopularProduct", (Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel)ViewBag.LayoutModel.PopularProduct)
            <!-- Bestsellers Links Ends -->
        </div>
        <!-- Sidebar Ends -->
    </div>
</div>
