@model Application.Web.Areas.Administration.InputModels.CreateProductInputModel
@{
    ViewBag.Title = "Добавяне на продукт";
    ViewBag.FormModeText = "Добави";
    ViewBag.FormMode = "Create";
}

<div class="container">
    @{Html.RenderPartial("_CreateEditPartial", Model);}
</div>

@section scripts {

    <script>
    // Disabled hack
    jQuery(function ($) {

        $('form').bind('submit', function () {
            $(this).find(':input').removeAttr('disabled');
        });

    });

    $(document).ready(function () {
        $("#categories-dropdown").change(function () {
            LoadSubCategories();
        })
    });

    function LoadSubCategories() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetSubCategories")', // we are calling json method

                dataType: 'json',

                data: { id: $("#categories-dropdown").val() },
                beforeSend: function () {
                    $("#subCategories-box").empty();
                    $("#subCategories-box").show();
                    
                    $("#subCategories-box").append('<img style="margin:20px 0 0 30px;" src="/Content/images/gif-load.gif" />');
                },
                success: function (subCategories) {
                    console.log(subCategories)
                    if (subCategories.length > 0) {
                        $('#subCategories-box img').remove();
                        $("#subCategories-box").append('<div class="col-md-4">');
                        var appendTarget = $("#subCategories-box div.col-md-4");

                        for (var i = 0; i < subCategories.length; i++) {
                            var subCategory = subCategories[i];
                            appendTarget.append('<input type="checkbox" id="Dynamic ' + subCategory.Value + '" name="SelectedSubCategoriesIds" value="' + subCategory.Value + '"/> <label for="Dynamic ' + subCategory.Value + '">' + subCategory.Text + '</label><br />');
                            if (i > 0 && (i + 1) % 4 == 0) {
                                var newColumn = $('<div class="col-md-4">');
                                $("#subCategories-box").append(newColumn);
                                appendTarget = newColumn;
                            }
                        }
                    } else {
                        $("#subCategories-box").empty();
                        $("#subCategories-box").show();
                        $("#subCategories-box").append('<div class="col-md-4"><p>Категорията нама никакви подкатегории. Моля добавете подкатегории.</p></div>');
                    }
                },
                error: function (ex) {
                    alert('Неуспешно листване на категориите!.' + ex);
                }
            });
            return false;
        }
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        var currentImage = 1;
        $("body").on("change", "input[name='files']", function () {
            var pathToRemoveIcon = "@Url.Content("~/Content/images/delete.png")";
            currentImage = currentImage + 1;
            var htmlToAppend = '<div class="upload"><input type="file" name="files" id="file' + currentImage + '" /><img src="' + pathToRemoveIcon + '" alt="Remove picture." /></div>';
            $('.upload-container').append(htmlToAppend);
        }).on("click", ".upload img", function () {
            if ($(this).parent().siblings().length > 0) {
                $(this).parent().remove();
            }
        });
    });
</script>

}