@model Application.Web.Areas.Administration.InputModels.CreateProductInputModel
@{
    ViewBag.Title = "Редактиране на продукт";
    ViewBag.FormModeText = "Запиши";
    ViewBag.FormMode = "Edit";
}

<div class="container">
    @{Html.RenderPartial("_CreateEditPartial", Model);}
</div>

@section scripts {

    <script>
        // Disabled hack
        jQuery(function ($) {

            $('form').bind('submit', function () {
                $(this).find(':input').removeAttr('disabled');
            });

        });

        $(document).ready(function () {
            $("#categories-dropdown").change(function () {
                LoadSubCategories();
            })
        });

        function LoadSubCategories() {
            $("#subCategories-dropdown").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSubCategories")', // we are calling json method

                dataType: 'json',

                data: { id: $("#categories-dropdown").val() },
                beforeSend: function () {
                    $("#subCategories-dropdown").append('<option > Зареждане ... </option>');
                },
                success: function (subCategories) {
                    if (subCategories.length > 0) {
                        $("#subCategories-dropdown").empty();
                        $("#subCategories-dropdown").removeAttr("disabled");
                        $.each(subCategories, function (i, subcategory) {
                            $("#subCategories-dropdown").append('<option value="' + subcategory.Value + '">' +
                                 subcategory.Text + '</option>');
                        });
                    } else {
                        $("#subCategories-dropdown").empty();
                        $("#subCategories-dropdown").append('<option > -- Няма подкатегории -- </option>');
                    }
                },
                error: function (ex) {
                    alert('Неуспешно листване на категориите!.' + ex);
                }
            });
            return false;
        }
    </script>

<script type="text/javascript">
    $(document).ready(function () {
        var currentImage = 1;
        $("body").on("change", "input[name='files']", function () {
            var pathToRemoveIcon = "@Url.Content("~/Content/images/delete.png")";
            currentImage = currentImage + 1;
            var htmlToAppend = '<div class="upload"><input type="file" name="files" id="file' + currentImage + '" /><img src="' + pathToRemoveIcon + '" alt="Remove picture." /></div>';
            $('.upload-container').append(htmlToAppend);
        }).on("click", ".upload img", function () {
            if ($(this).parent().siblings().length > 0) {
                $(this).parent().remove();
            }
        });
    });
</script>
}