@model IEnumerable<Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel>
@for (int i = 0; i < Model.Count(); i++)
{
    var product = Model.ElementAt(i);
    var productThumbnail = product.PrimaryImage.ImagePath + "_indexThumb.jpg";
    <div class="col-md-4">
        <div class="product-col">
            <img src="@productThumbnail" class="image" alt="Alternate Text" />
            <div class="caption">
                <h4>
                    @Html.ActionLink(product.Name, "Details", "Products", new { id = product.Id }, null)
                </h4>
                <div class="description">
                    @Html.Raw(product.ShortDescription)
                </div>
                <div class="cart-button button-group" style="margin-top:-15px;">
                    <a href="Products/?Category=@product.CategoryId" class="btn btn-wishlist" data-original-title="Кагегория: @product.CategoryName">
                        <i class="glyphicon glyphicon-th-large"></i>
                    </a>
                    <a href="Products/Details/@product.Id" type="button" class="btn btn-cart">
                        Детайли
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    if (i > 0 && (i + 1) % 3 == 0)
    {
        @:</div>
        @:<div class="row">
                    }
}
