@{
    ViewBag.Title = "За Нас";
}
<div class="container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="/">Начало</a></li>
                    <li class="active">За нас</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- About Content Starts -->
                <div class="page-box">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="~/Content/images/manager.jpg" alt="image" class="img-responsive" />
                        </div>
                        <div class="col-sm-8">
                            <h3>Стоян Танчев</h3>
                            <h4>Мениджър</h4>
                            <ul class="list-unstyled list-inline sm-links">
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software.
                            </p>
                        </div>
                    </div>
                    <br />
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including  versions of Lorem Ipsum.
                    </p>
                </div>
                <!-- About Content Ends -->
                <hr />
                <!-- Testimonials Starts -->
                <h2 class="sub-heading text-center">
                    Препоръки / Партньори
                </h2>
                <!-- Testimonial #1 Starts -->
                <div class="media panel-smart">
                    <img src="~/Content/spice-shopee/images/testimonial-images/image1.jpg" alt="image" class="img-responsive pull-left" />
                    <div class="media-body">
                        <blockquote>
                            <p>
                                " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
                            </p>
                            <footer>
                                Иван Иванов, <cite>Мениджър - фирма за поддръжка на асансьори</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <!-- Testimonial #1 Ends -->
                <!-- Testimonial #2 Starts -->
                <div class="media panel-smart">
                    <img src="~/Content/spice-shopee/images/testimonial-images/image2.jpg" alt="image" class="img-responsive pull-left" />
                    <div class="media-body">
                        <blockquote>
                            <p>
                                " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
                            </p>
                            <footer>
                                Габриела Маринова, <cite>Минно-Добивна промишленост</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <!-- Testimonial #2 Ends -->
                <!-- Testimonial #3 Starts -->
                <div class="media panel-smart">
                    <img src="~/Content/spice-shopee/images/testimonial-images/image3.jpg" alt="image" class="img-responsive pull-left" />
                    <div class="media-body">
                        <blockquote>
                            <p>
                                " Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. "
                            </p>
                            <footer>
                                Атанас Гергов, <cite>Предприемач</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                <!-- Testimonial #3 Ends -->
                <!-- Testimonials Ends -->
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Популярни Продукти</h3>
                @Html.Partial("_PopularProduct", (Application.Web.Areas.Administration.Models.ViewModels.ProductViewModel)ViewBag.LayoutModel.PopularProduct)
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>