@{
    ViewBag.Title = "Контакти";
}
<div class="container">
    <!-- Main Container Starts -->
    <div id="main-container" class="container">
        <!-- Breadcrumb Starts -->
        <ol class="breadcrumb">
            <li><a href="index.html">Начало</a></li>
            <li class="active">Свържете се с нас</li>
        </ol>
        <!-- Breadcrumb Ends -->
        <!-- Main Heading Starts -->
        <h2 class="main-heading text-center">
            Свържете се с нас
        </h2>
        <!-- Main Heading Ends -->
        <!-- Google Map Starts -->
        <div id="map-wrapper">
            <div id="map-block"><img src="~/Content/images/map-sample.jpg" alt="Alternate Text" /></div>
        </div>
        <!-- Google Map Ends -->
        <!-- Starts -->
        <div class="row">
            <!-- Contact Details Starts -->
            <div class="col-sm-4">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Контакти</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled contact-details">
                            <li class="clearfix">
                                <i class="fa fa-home pull-left"></i>
                                <span class="pull-left">
                                   Метал Трейд <br />
                                    1247 София, бул. Г.М. Димитров № 55, <br />
                                    ет. 10 Вх. B
                                </span>
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-phone pull-left"></i>
                                <span class="pull-left">
                                    0887 88 66 22 <br />
                                    (+359) 658 98 88 55
                                </span>
                            </li>
                            <li class="clearfix">
                                <i class="fa fa-envelope-o pull-left"></i>
                                <span class="pull-left">
                                    info@metaltrade.com <br />
                                    stoyantanchev@abv.bg <br />
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Contact Details Ends -->
            <!-- Contact Form Starts -->
            <div class="col-sm-8">
                <div class="panel panel-smart">
                    <div class="panel-heading">
                        <h3 class="panel-title">Изпратете ни съобщение</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">
                                    Име
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Име">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">
                                    Email
                                </label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject" class="col-sm-2 control-label">
                                    Относно
                                </label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Относно">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message" class="col-sm-2 control-label">
                                    Съобщение
                                </label>
                                <div class="col-sm-10">
                                    <textarea name="message" id="message" class="form-control" rows="5" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-warning text-uppercase">
                                        Изпрати
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Contact Form Ends -->
        </div>
        <!-- Ends -->
    </div>
    <!-- Main Container Ends -->

</div>
