@*@model Application.Models.Product

@{
    ViewBag.Title = "Details";
}*@

<div class="container">
    <!-- Main Container Starts -->
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="index.html">Начало</a></li>
                    <li><a href="category-list.html">Сапани</a></li>
                    <li class="active">Куки за съпани Ф 20</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- Product Info Starts -->
                <div class="row product-info">
                    <!-- Left Starts -->
                    <div class="col-sm-5 images-block">
                        <p>
                            <img src="~/Content/images/products/hook-1.jpg" alt="Image" class="img-responsive thumbnail" />
                        </p>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <img src="~/Content/images/products/hook-2.jpg" alt="Image" style="width:77px;" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/images/products/hook-3.jpg" alt="Image" style="width:77px;" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/images/products/hook-4.jpg" alt="Image" style="width:77px;" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/images/products/hook-4.jpg" alt="Image" style="width:77px;" class="img-responsive thumbnail" />
                            </li>
                        </ul>
                    </div>
                    <!-- Left Ends -->
                    <!-- Right Starts -->
                    <div class="col-sm-7 product-details">
                        <!-- Product Name Starts -->
                        <h2>Куки за съпани - Ф 20</h2>
                        <!-- Product Name Ends -->
                        <hr />
                        <!-- Manufacturer Starts -->
                        <ul class="list-unstyled manufacturer">
                            <li>
                                <span>Производител:</span> Metal Company LTD
                            </li>
                            <li><span>Ширина на четката:</span> от 1200 до 2400 мм. (в зависимост от модела)</li>
                            <li><span>Диаметър:</span> 600 мм</li>
                            <li><span>Товароподемност:</span> 2,00 тона (в зависимост от модела)</li>
                            <li><span>Дължина:</span> 2 метра</li>
                            <li><span>Тегло:</span> 5 гр</li>
                            <li>
                                <span>Налични:</span> <strong class="label label-success">На склад</strong>
                            </li>
                        </ul>
                        <!-- Manufacturer Ends -->
                        <hr />
                        <!-- Available Options Starts -->
                        <div class="options">
                            <div class="form-group">
                                <label class="control-label text-uppercase" for="input-quantity">Количество (бр):</label>
                                <input type="number" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                            </div>
                            <div class="cart-button button-group">
                                <button type="button" title="Wishlist" class="btn btn-wishlist">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <button type="button" title="Compare" class="btn btn-compare">
                                    <i class="fa fa-bar-chart-o"></i>
                                </button>
                                <button type="button" class="btn btn-cart">
                                    Поръчай
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Available Options Ends -->
                        <hr />
                    </div>
                    <!-- Right Ends -->
                </div>
                <!-- product Info Ends -->
                <!-- Additional Information Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Допълнителна информация</h4>
                    <div class="content panel-smart">
                        <p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. Lorem Ipsum е индустриален стандарт от около 1500 година, когато неизвестен печатар взема няколко печатарски букви и ги разбърква, за да напечата с тях книга с примерни шрифтове. Този начин не само е оцелял повече от 5 века, но е навлязъл и в публикуването на електронни издания като е запазен почти без промяна. Популяризиран е през 60те години на 20ти век</p>
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="margin: 10px 0 0 10px;">Едноверижен сапан - технически характеристики</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-hover ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Column heading</th>
                                            <th>Column heading</th>
                                            <th>Column heading</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="info">
                                            <td>3</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="success">
                                            <td>4</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="danger">
                                            <td>5</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>6</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                        <tr class="active">
                                            <td>7</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                            <td>Column content</td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional Information Ends -->
                <!-- Related Products Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Подобни продукти</h4>
                    <!-- Products Row Starts -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product-col">
                                <img src="~/Content/images/product-thumbnail-placeholder.jpg" class="image" alt="Alternate Text" />
                                <div class="caption">
                                    <h4><a href="Products/Details/1"> Лентови полиестерни сапани</a></h4>
                                    <div class="description">
                                        Видове: Еднораменен сапан; Двураменен сапан; Тритаменен сапан; Четирираменен сапан;
                                    </div>
                                    <div class="cart-button button-group">
                                        <button type="button" title="" class="btn btn-wishlist" data-original-title="Кагегория: Сапани">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </button>
                                        <button type="button" class="btn btn-cart">
                                            Детайли
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-col">
                                <img src="~/Content/images/product-thumbnail-placeholder.jpg" class="image" alt="Alternate Text" />
                                <div class="caption">
                                    <h4><a href="Products/Details/1"> Лентови полиестерни сапани</a></h4>
                                    <div class="description">
                                        Видове: Еднораменен сапан; Двураменен сапан; Тритаменен сапан; Четирираменен сапан;
                                    </div>
                                    <div class="cart-button button-group">
                                        <button type="button" title="" class="btn btn-wishlist" data-original-title="Кагегория: Сапани">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </button>
                                        <button type="button" class="btn btn-cart">
                                            Детайли
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-col">
                                <img src="~/Content/images/product-thumbnail-placeholder.jpg" class="image" alt="Alternate Text" />
                                <div class="caption">
                                    <h4><a href="Products/Details/1"> Лентови полиестерни сапани</a></h4>
                                    <div class="description">
                                        Видове: Еднораменен сапан; Двураменен сапан; Тритаменен сапан; Четирираменен сапан;
                                    </div>
                                    <div class="cart-button button-group">
                                        <button type="button" title="" class="btn btn-wishlist" data-original-title="Кагегория: Сапани">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </button>
                                        <button type="button" class="btn btn-cart">
                                            Детайли
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                @if (ViewBag.LayoutModel.Categories != null)
                {
                    @Html.Partial("_Categories", (List<Application.Web.Areas.Administration.Models.ViewModels.CategoryViewModel>)ViewBag.LayoutModel.Categories)
                }
                <!-- Categories Links Ends -->
                <!-- Shopping Options Starts -->
                <h3 class="side-heading">Търси по:</h3>
                <div class="list-group">
                    <div class="list-group-item">
                        Производител
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input name="filter1" type="checkbox" value="br1" checked="checked" />
                                Производител 1
                            </label>
                            <label class="checkbox">
                                <input name="filter2" type="checkbox" value="br2" />
                                Производител 2
                            </label>
                            <label class="checkbox">
                                <input name="filter2" type="checkbox" value="br2" />
                                Производител 3
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item">
                        Марка
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr1" checked="checked" />
                                Марка 1
                            </label>
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr2" />
                                Марка 2
                            </label>
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr3" />
                                Марка 3
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-warning">Филтрирай</button>
                    </div>
                </div>
                <!-- Shopping Options Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Най-продавани</h3>
                <div class="product-col">
                    <div class="image">
                        <img src="~/Content/images/products/hook-1.jpg" alt="продукт" class="img-responsive" />
                    </div>
                    <div class="caption">
                        <h4>
                            <a href="product-full.html">Сапан с 2 куки Ф 20</a>
                        </h4>
                        <div class="description">
                            Описание на сапана и някаква допълнителна информация
                        </div>
                        <div class="price">
                            <span class="price-new">$199.50</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-cart">
                                Поръчай
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
