@*@model Application.Models.Product

@{
    ViewBag.Title = "Details";
}*@

<div class="container">
    <!-- Main Container Starts -->
    <div id="main-container" class="container">
        <div class="row">
            <!-- Primary Content Starts -->
            <div class="col-md-9">
                <!-- Breadcrumb Starts -->
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="category-list.html">Category</a></li>
                    <li class="active">Product</li>
                </ol>
                <!-- Breadcrumb Ends -->
                <!-- Product Info Starts -->
                <div class="row product-info">
                    <!-- Left Starts -->
                    <div class="col-sm-5 images-block">
                        <p>
                            <img src="~/Content/spice-shopee/images/product-images/pimg3.jpg" alt="Image" class="img-responsive thumbnail" />
                        </p>
                        <ul class="list-unstyled list-inline">
                            <li>
                                <img src="~/Content/spice-shopee/images/product-images/thumb1.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/spice-shopee/images/product-images/thumb2.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/spice-shopee/images/product-images/thumb3.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                            <li>
                                <img src="~/Content/spice-shopee/images/product-images/thumb4.jpg" alt="Image" class="img-responsive thumbnail" />
                            </li>
                        </ul>
                    </div>
                    <!-- Left Ends -->
                    <!-- Right Starts -->
                    <div class="col-sm-7 product-details">
                        <!-- Product Name Starts -->
                        <h2>Стоманени въжета продукт 1</h2>
                        <!-- Product Name Ends -->
                        <hr />
                        <!-- Manufacturer Starts -->
                        <ul class="list-unstyled manufacturer">
                            <li>
                                <span>Brand:</span> Indian spices
                            </li>
                            <li><span>Reward Points:</span> 300</li>
                            <li>
                                <span>Availability:</span> <strong class="label label-success">In Stock</strong>
                            </li>
                        </ul>
                        <!-- Manufacturer Ends -->
                        <hr />
                        <!-- Price Starts -->
                        <div class="price">
                            <span class="price-head">Price :</span>
                            <span class="price-new">$199.50</span>
                        </div>
                        <!-- Price Ends -->
                        <hr />
                        <!-- Available Options Starts -->
                        <div class="options">
                            <div class="form-group">
                                <label class="control-label text-uppercase" for="input-quantity">Qty:</label>
                                <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                            </div>
                            <div class="cart-button button-group">
                                <button type="button" title="Wishlist" class="btn btn-wishlist">
                                    <i class="fa fa-heart"></i>
                                </button>
                                <button type="button" title="Compare" class="btn btn-compare">
                                    <i class="fa fa-bar-chart-o"></i>
                                </button>
                                <button type="button" class="btn btn-cart">
                                    Add to cart
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Available Options Ends -->
                        <hr />
                    </div>
                    <!-- Right Ends -->
                </div>
                <!-- product Info Ends -->
                <!-- Product Description Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Информация</h4>
                    <div class="content panel-smart">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <p>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <!-- Product Description Ends -->
                <!-- Additional Information Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Допълнителна информация</h4>
                    <div class="content panel-smart">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <!-- Additional Information Ends -->
                <!-- Related Products Starts -->
                <div class="product-info-box">
                    <h4 class="heading">Подобни продукти</h4>
                    <!-- Products Row Starts -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product-col">
                                <img src="~/Content/images/product-thumbnail-placeholder.jpg" class="image" alt="Alternate Text" />
                                <div class="caption">
                                    <h4><a href="Products/Details/1"> Лентови полиестерни сапани</a></h4>
                                    <div class="description">
                                        Видове: Еднораменен сапан; Двураменен сапан; Тритаменен сапан; Четирираменен сапан;
                                    </div>
                                    <div class="cart-button button-group">
                                        <button type="button" title="" class="btn btn-wishlist" data-original-title="Кагегория: Сапани">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </button>
                                        <button type="button" class="btn btn-cart">
                                            Детайли
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-col">
                                <img src="~/Content/images/product-thumbnail-placeholder.jpg" class="image" alt="Alternate Text" />
                                <div class="caption">
                                    <h4><a href="Products/Details/1"> Лентови полиестерни сапани</a></h4>
                                    <div class="description">
                                        Видове: Еднораменен сапан; Двураменен сапан; Тритаменен сапан; Четирираменен сапан;
                                    </div>
                                    <div class="cart-button button-group">
                                        <button type="button" title="" class="btn btn-wishlist" data-original-title="Кагегория: Сапани">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </button>
                                        <button type="button" class="btn btn-cart">
                                            Детайли
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-col">
                                <img src="~/Content/images/product-thumbnail-placeholder.jpg" class="image" alt="Alternate Text" />
                                <div class="caption">
                                    <h4><a href="Products/Details/1"> Лентови полиестерни сапани</a></h4>
                                    <div class="description">
                                        Видове: Еднораменен сапан; Двураменен сапан; Тритаменен сапан; Четирираменен сапан;
                                    </div>
                                    <div class="cart-button button-group">
                                        <button type="button" title="" class="btn btn-wishlist" data-original-title="Кагегория: Сапани">
                                            <i class="glyphicon glyphicon-th-large"></i>
                                        </button>
                                        <button type="button" class="btn btn-cart">
                                            Детайли
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Products Row Ends -->
                </div>
                <!-- Related Products Ends -->
            </div>
            <!-- Primary Content Ends -->
            <!-- Sidebar Starts -->
            <div class="col-md-3">
                <!-- Categories Links Starts -->
                <h3 class="side-heading">Categories</h3>
                <div class="list-group">
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Spices &amp; Herbs
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Chili Powder
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Herb Blends
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Seasonings
                    </a>
                    <a href="category-grid.html" class="list-group-item">
                        <i class="fa fa-chevron-right"></i>
                        Salt Free Spices
                    </a>
                </div>
                <!-- Categories Links Ends -->
                <!-- Shopping Options Starts -->
                <h3 class="side-heading">Shopping Options</h3>
                <div class="list-group">
                    <div class="list-group-item">
                        Brands
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="checkbox">
                                <input name="filter1" type="checkbox" value="br1" checked="checked" />
                                Brand Name 1
                            </label>
                            <label class="checkbox">
                                <input name="filter2" type="checkbox" value="br2" />
                                Brand Name 2
                            </label>
                            <label class="checkbox">
                                <input name="filter2" type="checkbox" value="br2" />
                                Brand Name 3
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item">
                        Manufacturer
                    </div>
                    <div class="list-group-item">
                        <div class="filter-group">
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr1" checked="checked" />
                                Manufacturer Name 1
                            </label>
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr2" />
                                Manufacturer Name 2
                            </label>
                            <label class="radio">
                                <input name="filter-manuf" type="radio" value="mr3" />
                                Manufacturer Name 3
                            </label>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-warning">Filter</button>
                    </div>
                </div>
                <!-- Shopping Options Ends -->
                <!-- Bestsellers Links Starts -->
                <h3 class="side-heading">Bestsellers</h3>
                <div class="product-col">
                    <div class="image">
                        <img src="images/product-images/pimg1.jpg" alt="product" class="img-responsive" />
                    </div>
                    <div class="caption">
                        <h4>
                            <a href="product-full.html">Simply Organic Seeds</a>
                        </h4>
                        <div class="description">
                            We are so lucky living in such a wonderful time. Our almost unlimited ...
                        </div>
                        <div class="price">
                            <span class="price-new">$199.50</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="Wishlist" class="btn btn-wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" title="Compare" class="btn btn-compare">
                                <i class="fa fa-bar-chart-o"></i>
                            </button>
                            <button type="button" class="btn btn-cart">
                                Add to cart
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Bestsellers Links Ends -->
            </div>
            <!-- Sidebar Ends -->
        </div>
    </div>
    <!-- Main Container Ends -->
</div>
