@model Application.Web.Areas.Administration.Models.ViewModels.SubCategoryViewModel
<li class="list-group-item">
    @Model.Name
<a href="#" title="Delete" class="glyphicon glyphicon-ban-circle pull-right"></a>
<a href="#" title="Delete" style="margin-right:5px;" class="glyphicon glyphicon-edit pull-right"></a>
</li>